header {
    background-color: rgba(165, 99, 14, 0.288);

}

h1 { 
     color: rgb(20, 19, 19);
     font-size: 70px;
     text-align: center;
     margin-top: 10px;
     padding-top: 20px;
}

.topnav {
    background-color:peachpuff;
    overflow: hidden;
}

.topnav a {
    text-align: center;
    float: left;
    font-size: 20px;
    padding: 25px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 30px;
    float: left;
}

body {
    background-color: bisque;
}