header {
    background-color: rgba(58, 42, 20, 0.288);
}

body{
    border: 50px solid rgb(163, 143, 106);
    padding: 50px;
    margin: 20px;
    background-color: bisque;
}

h1 { 
     color: rgb(20, 19, 19);
     font-size: 90px;
     text-align: center;
     margin-top: 10px;
     padding-top: 20px;
     font-family: French Script MT;
}

.topnav {
    background-color:rgb(163, 143, 106);
    overflow: hidden;
}

.topnav a {
    float: left;
    font-size: 25px;
    padding: 25px 50px;
    font-family: Comic Sans MS;
    color: black;
    text-decoration: none;
}

.description {
    font-size: 25px;
    font-family: Comic Sans MS;
    margin: 50px;
    width: 1200px;
    padding: 30px;
    border:15px solid rgb(163, 143, 106);
    background-color: lightgrey;
}

.description a {
    text-decoration: none;
}

.side {
    background-color: lightgrey;
    width: 635px;
    border: 15px solid rgb(163, 143, 106);
    margin-right: 50px;
    padding-left: 30px;
    float: right;
    height: 2430px;
}

.side img {
    width: 500px;
    height: 500px;
    padding: 50px;
}

footer {
    padding: 30px;
    margin: 20px;
    font-family: French Script MT;
    font-size: 80px;
    text-align: center;
    background-color: rgba(58, 42, 20, 0.288);
}